<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.l.demo.mapper.BbsMapper" >
  <resultMap id="BaseResultMap" type="com.l.demo.model.Bbs" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bbs_name" property="bbsName" jdbcType="VARCHAR" />
    <result column="bbs_cont" property="bbsCont" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bbs_name, bbs_cont, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bbs
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectData" resultMap="BaseResultMap"  parameterType="java.lang.String">
    select
    b.*,u.img_path as imgPath,u.real_name as realName
    from bbs b
    left join `user` u
	on b.user_id = u.id
    where 1=1
    and b.create_time like concat (#{nowDate},'%')
    ORDER BY b.create_time DESC
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bbs
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.l.demo.model.Bbs" >
    insert into bbs (id, bbs_name, bbs_cont, 
      create_time,user_id)
    values (#{id,jdbcType=INTEGER}, #{bbsName,jdbcType=VARCHAR}, #{bbsCont,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=DATE},#{userId})
  </insert>

  <insert id="insertSelective" parameterType="com.l.demo.model.Bbs" >
    insert into bbs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bbsName != null" >
        bbs_name,
      </if>
      <if test="bbsCont != null" >
        bbs_cont,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bbsName != null" >
        #{bbsName,jdbcType=VARCHAR},
      </if>
      <if test="bbsCont != null" >
        #{bbsCont,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.l.demo.model.Bbs" >
    update bbs
    <set >
      <if test="bbsName != null" >
        bbs_name = #{bbsName,jdbcType=VARCHAR},
      </if>
      <if test="bbsCont != null" >
        bbs_cont = #{bbsCont,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.l.demo.model.Bbs" >
    update bbs
    set bbs_name = #{bbsName,jdbcType=VARCHAR},
      bbs_cont = #{bbsCont,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>